{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
    <title>{{ title }}</title>
</head>

<body>
    <header class="header">
        <div class="wrapper">
            <div class="header-row">
                <div class="header-row-logo">
                    <img src="{% static 'img/logo.svg' %}" alt="Logo">
                    <a class="logo-href" href="{% url 'index' %}">Code Brain</a>
                </div>
                <ol class="header-row-menu">
                    <li><a href="{% url 'index' %}" class="menu-item">Главная</a></li>
                    <li><a href="{% url 'tasks' %}" class="menu-item">Задачки</a></li>
                    <li><a href="#" class="menu-item">Учебные пособия</a></li>
                    <li><a href="#" class="menu-item">О проекте</a></li>
                </ol>
                <a href="{% url 'login' %}" class="header-row-login">Войти</a>
            </div>
        </div>
    </header>
    <div class="main">
        <div class="wrapper">
           {% block content %}{% endblock content %}
        </div>
    </div>
</body>