{% extends "tasks/base.html" %}
{% load static %}

{% block content %}
<div class="task-row">
    <div class="task-info">
        <a class="task-card-title" href="#">{{ task.title }}</a>
        <div class="task-card-tags-row">
            <p class="task-card-tag-comp">{{ task.complexity.name }}</p>
            {% for tag in task.tags.all %}
                <p class="task-card-tag">{{ tag.name }}</p>
            {% endfor %}
        </div>
        <p class="task-card-desc">{{ task.description }}.</p>
        <p class="task-info-content">{{ task.content }}</p>
        <br>
        <br>
        <p class="task-comment-title">Комментарии</p>
        <form method="POST">
            <textarea class="task-comment-input" cols="54" rows="7"></textarea>
            <br>
            <button class="task-comment-button" type="submit">Отправить</button>
        </form>
        <div class="main-block-anime-detail-bottom-comment">
            <div class="img_obertka">
                <img class="main-block-anime-detail-bottom-comment-img" src="img/profile.jpg" alt="Logo">
            </div>
            <div class="main-block-anime-detail-bottom-comment-content">
                <div class="main-block-anime-detail-bottom-comment-content-namedata">
                    <a class="main-block-anime-detail-bottom-comment-content-name" href="#">None None</a>
                    <p class="main-block-anime-detail-bottom-comment-content-data">21.03.2013 </p>
                    <a class="main-block-anime-detail-bottom-comment-content-delete"
                        href="{{ comm.get_absolute_url }}">Удалить</a>
                </div>
                <p class="main-block-anime-detail-bottom-comment-content-text">тут что-то пишетсятут что-то
                    пишетсятут что-то пишетсятут что-то пишетсятут что-то пишетсятут что-то пишетсятут
                    что-то пишетсятут что-то пишетсятут что-то пишетс
                </p>
            </div>
        </div>
    </div>
    <div class="task-solution">
        <p class="task-sol-title">Решения</p>
        <div class="task-sol-card">
            <p class="task-sol-yap">Python</p>
            <details close>
                <summary>Решение</summary>
                <p class="solution">print('hello')</p>
            </details>
        </div>
        <div class="task-sol-card">
            <p class="task-sol-yap">C++</p>
            <details close>
                <summary>Решение</summary>
                <p class="solution">123</p>
            </details>
        </div>
    </div>
</div>
{% endblock content %}