{% extends "tasks/base.html" %}
{% load static %}

{% block content %}
<div class="main-row">
    <div class="main-row-tasks">
        {% if user.is_authenticated %}
        <div class="task-new-card">
            <a class="task-new-card-href" href="#">У вас есть интересная задачка?</a>
        </div>
        {% endif %}
        {% for task in tasks %}
        <div class="task-card">
            <a class="task-card-title" href="#">{{ task.title }}</a>
            <p class="task-card-desc">{{ task.description }}</p>
            <div class="task-card-tags-row">
                <p class="task-card-tag-comp">{{ task.complexity.name }}</p>
                {% for tag in task.tags.all %}
                    <p class="task-card-tag">{{ tag.name }}</p>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        {% if is_paginated %}
                <div class="pagination">
                    {% if page_obj.has_previous %}
                        <a href="?page={{page_obj.previous_page_number}}">«</a>
                    {% else %}
                        <a class="non-activate">«</a>
                    {% endif %}
                    {% for page in paginator.page_range %}
                        <a href="?page={{page}}">{{page}}</a>
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <a href="?page={{page_obj.next_page_number}}">»</a>
                    {% else %}
                        <a class="non-activate">»</a>
                    {% endif %}
                </div>
        {% endif %}
    </div>
    <div class="main-row-filters">
        <form method="POST" name="form_lang">
            <label class="select-label">Язык</label>
            <select class="select-css">
                
            </select>
            <br>
            <button class="select-button" type="submit">Найти</button>
        </form>
        <br>
        <form method="POST" name="form_comp">
            <label class="select-label">Сложность</label>
            <select class="select-css">
                
            </select>
            <br>
            <button class="select-button" type="submit">Найти</button>
        </form>
        <br>
        <form method="POST" name="form_comp">
            <label class="select-label">Теги</label>
            <select class="select-css">
                
            </select>
            <br>
            <button class="select-button" type="submit">Найти</button>
        </form>
    </div>
</div>
{% endblock content %}