{% extends "tasks/base.html" %}
{% load static %}

{% block content %}
    <div class="profile-row">
        <div class="profile-info">
            <img class="profile-info-logo" src="{{ user.image.url }}" alt="Logo">
            <br>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <label class="input-file" for="{{ form.image.id_for_label }}">
                    <span class="input-file-text" type="text"></span>
                    {{ form.image }}
                    <span class="input-file-btn">Выберите файл</span>
                </label>
                <br>
                <br>
                <label class=" label-login" for="{{ form.username.id_for_label }}">Имя пользователя</label>
                <br>
                {{ form.username }}
                <br>
                <br>
                <label class=" label-login" for="{{ form.email.id_for_label }}">Email</label>
                <br>
                {{ form.email }}
                <br>
                <button class="button-profile" type="submit">Сохранить</button>
            </form>
            <br>
            <a href="{% url 'logout' %}" class="profile-logout">Выйти</a>
        </div>
        <div class=" profile-tasks">
            <div class="profile-tasks-line">
                <a class="profile-tasks-line-href" href="#">Мои задачи</a>
                <a class="profile-tasks-line-href" href="#">На рассмотрении</a>
            </div>
            <br>
            <div class="task-card">
                <a class="task-card-title" href="#">Вернуть сумму двух чисел</a>
                <p class="task-card-desc">Создайте функцию, которая принимает два числа в качестве параметров и
                    возвращает их сумму.</p>
                <div class="task-card-tags-row">
                    <p class="task-card-tag-comp">Легко</p>
                    <p class="task-card-tag">Алгебра</p>
                    <p class="task-card-tag">Математика</p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $('.input-file input[type=file]').on('change', function () {
            let file = this.files[0];
            $(this).closest('.input-file').find('.input-file-text').html(file.name);
        });
    </script>
{% endblock content %}