{% extends "tasks/base.html" %}
{% load static %}

{% block content %}
<form method="POST">
    <p>{{ form.errors }}</p>
    {% csrf_token %}
    <label class=" label-login" for="{{ form.username.id_for_label }}">Почта</label>
    <br>
    {{ form.username }}
    <br>
    <br>
    <label class=" label-login" for="{{ form.password1.id_for_label }}">Пароль</label>
    <br>
    {{ form.password1 }}
    <br>
    <br>
    <label class=" label-login" for="{{ form.password2.id_for_label }}">Повторите пароль</label>
    <br>
    {{ form.password2 }}
    <br>
    <button class="button-reg" type="submit">Зарегестрироваться</button>
</form>
<br>
<a class="reg-href-login" href="{% url 'login' %}">У вас уже есть аккаунт?</a>
{% endblock content %}